:root {
    /**Colors */

    --color-primary: #FFA800;
    --color-secundary: #BB0000;
    --color-terciary: #89BD54;
    --color-text-dark: #444444;
    --color-text-light:#EEEEEE;

    /** Padding e Margins */

    --h--padding: 20px;
    --v--padding: 20px;
}



